<div class="text-center">
    <h1 class="display-4">Bienvenidos a mi sitio</h1>
    <h2>Mi nombre es Lucas Ezequiel Hafner, soy un desarrollador especializado en .net y Javascript. </h2>

    <img 
    id="photo"
    src="~/images/laios.png" alt="Foto de Laios">


</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 welcome-section">
        <h1>Te presento mi portafolio</h1>
        <p>
            aca encontraras enlaces directos a personas y empresas
            a las cuales yo les hice enlaces sitio
        </p>

    </div>
</div>