@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@using System.Globalization

@model IEnumerable<ProjectDTO>

@{
    ViewData["Title"] = @Localizer["ProjectsTitle"];
}

<div class="container">
    <h1>@Localizer["MyProjects"]</h1>
    <p>@Localizer["ProjectsDescription"]</p>
</div>

<partial name="_ProjectsList" model="Model" />