#photo {
    width: 200px; 
    margin: 2rem 0; 
    border-radius: 50%;
}

.welcome-section {
    margin: 5rem 0 10rem 0;
    color: white;
}

.welcome-section h1 {
    margin-bottom: 1rem;
}

.welcome-section p {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.25rem;
}

.header {
    font-weight: bold;
}

.abilities ul {
    list-style: none;
    padding-left: 0;
}

.abilities i {
    color: #0d6efd;
    font-size: 50px;
}

.privacy-title {
    color: #0d6efd;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 1rem;
}

.privacy-subtitle {
    color: #0d6efd;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
}

/* Borde curvado solo lado derecho */
.border-custom-right {
  border-radius: 0 15px 15px 0;
}

/* Borde curvado solo lado izquierdo */
.border-custom-left {
  border-radius: 15px 0 0 15px;
}

/* En pantallas chicas, ambos tienen todos los bordes curvados */
@media (max-width: 767.98px) {
  .border-custom-right,
  .border-custom-left {
    border-radius: 15px !important;
  }
}